<app-header-mobi></app-header-mobi>  
<div class="admin__page">
  <app-menu-dashboard></app-menu-dashboard>
  <div class="admin__container">
    <div class="admin_navbar">
      <div class="navbar-item">
        <div></div>
        <h1>«Nets.tj»</h1>
        <img src="./assets/img/admin_page/logOut.svg" alt="" (click)="logOut()"/>
      </div>
    </div>
    <div class="admin__content">
      <div class="detail_content">
        <div class="detail_container">
            <div class="detail_block">
                <h1>Детализация трафика</h1>
                <h2>Потрачено <span>{{ sendMB | number: '1.1-2' }}MB</span></h2>
                <div class="statistics_block">
                  <canvas width="100vw" height="500"  id="MyChart" >{{ chart }}</canvas>
                </div>
                <div class="when_block" [formGroup]="detailForm">
                    <div class="when_item">
                        <h1>Период с </h1>
                        <input type="date" formControlName="start_date">
                    </div>
                    <div class="when_item">
                        <h1>По</h1>
                        <input type="date" formControlName="last_date">
                    </div>
                </div>
                <!-- <div class="period_block">
                    <h1>Неделя</h1>
                    <h1>Месяц</h1>
                    <h1>Год</h1>
                </div> -->
                <div class="detail_button">
                    <button [disabled]="detailForm.invalid" [ngStyle]="{opacity: detailForm.invalid ? '0.5' : '1'}" (click)="filterByDate()">Далее</button>
                </div>
            </div>
        </div>
    </div>
    
    
    </div>
  </div>
</div> 