<div class="modal_container" *ngIf="modalQrCode">
    
    <div class="modal_block">
     <i class="fa fa-times" (click)="modalQrCode = false"></i>
     <h2>Подключить пакет +10GB?</h2>
     <div class="button_block">
        <button>Да, подключить</button>
        <button>Отмена</button>
     </div>
    </div>
</div>

<app-header-mobi></app-header-mobi>
<div class="admin__page">
    <app-menu-dashboard></app-menu-dashboard>
    <div class="admin__container">
      <div class="admin_navbar">
        <div class="navbar-item">
          <div></div>
          <h1>«Nets.tj»</h1>
          <img src="./assets/img/admin_page/logOut.svg" alt="" (click)="logOut()"/>
        </div>
      </div>
      <div class="admin__content">
        <div class="additionalPackages_content">
          <div class="additionalPackages_container">
            <div class="additionalPackages_block">
              
              <div class="additionalPackages_item">
                <h2 style="cursor: pointer;" (click)="backToPackages()">Пакеты <span>\ Дополнительный пакет</span></h2>
                <div class="packages_block">
                  <div class="normalTariffs_block" *ngFor="let packagesData of changePackagesData">
                    <div class="tarriffs_block">
                      <div class="name_block">
                        <h3>Название</h3>
                        <h2>+{{ packagesData.name }}GB</h2>
                      </div>
                      <div class="line"></div>
                      <div class="price_block">
                        <h3>Стоимость</h3>
                        <h2>{{ packagesData.price }} сомони</h2>
                      </div>
                      <div class="tariffs_btn">
                        <button (click)="modalQrCode = true">Подключить пакет</button>
                        <!-- [routerLink]="['/packet', packagesData.id]" -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  
