<div class="admin__page">
    <app-menu-dashboard></app-menu-dashboard>
    <div class="admin__container">
      <div class="admin_navbar">
        <div class="navbar-item">
          <div></div>
          <h1>«Nets.tj»</h1>
          <img src="./assets/img/admin_page/logOut.svg" alt="" />
        </div>
      </div>
      <div class="admin__content">
        <div class="additionalPackages_content">
          <div class="additionalPackages_container">
            <div class="additionalPackages_block">
              
              <div class="additionalPackages_item">
                <h2>Пакеты<span>\ Дополнительный пакет</span></h2>
                <div class="packages_block">
                  <div class="normalTariffs_block">
                    <div class="tarriffs_block">
                      <div class="name_block">
                        <h3>Название</h3>
                        <h2>+10GB</h2>
                      </div>
                      <div class="line"></div>
                      <div class="price_block">
                        <h3>Стоимость</h3>
                        <h2>40 сомони</h2>
                      </div>
                      <div class="tariffs_btn">
                        <button>Подключить пакет</button>
                      </div>
                    </div>
  
                    <div class="tarriffs_block">
                      <div class="name_block">
                        <h3>Название</h3>
                        <h2>+30GB</h2>
                      </div>
                      <div class="line"></div>
                      <div class="price_block">
                        <h3>Стоимость</h3>
                        <h2>120 сомони</h2>
                      </div>
                      <div class="tariffs_btn">
                        <button>Подключить пакет</button>
                      </div>
                    </div>
                  </div>
                  <div class="superTariffs_block">
                    <div class="tarriffs_block">
                      <div class="name_block">
                        <h3>Название</h3>
                        <h2>+50GB</h2>
                      </div>
                      <div class="line"></div>
                      <div class="price_block">
                        <h3>Стоимость</h3>
                        <h2>200 сомони</h2>
                      </div>
                      <div class="tariffs_btn">
                        <button>Подключить пакет</button>
                      </div>
                    </div>
  
                    <div class="tarriffs_block">
                      <div class="name_block">
                        <h3>Название</h3>
                        <h2>+100GB</h2>
                      </div>
                      <div class="line"></div>
                      <div class="price_block">
                        <h3>Стоимость</h3>
                        <h2>400 сомони</h2>
                      </div>
                      <div class="tariffs_btn">
                        <button>Подключить пакет</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  
