
<div class="header__subtitle">
  <div class="header__container">
    <div class="header__logo">
      <img src="./assets/img/nets_logo.svg" alt="" />
    </div>
   
    <div class="menu__block">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>
      <ul class="menu__box">
        <div class="menu__dashboard">
          <!-- <div class="menu__logo">
            <img src="./assets/img/nets_logo.svg" alt="" />
          </div> -->
          <div class="menu_block">
            <div class="menu-item">
              <div class="item-list" id="tr">
                <img  src="./assets/img/admin_page/tarifs_icon.svg" alt="" />
                <h2 routerLink="/admin">Тариф</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/balance_icon.svg" alt="" />
                <h2 routerLink="/balance">Мой баланс</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/trafics_icon.svg" alt="" />
                <h2 routerLink="/trafics">Трафик</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/packets_icon.svg" alt="" />
                <h2 routerLink="/packet">Пакеты</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/setting_icon.svg" alt="" />
                <h2 routerLink="/setting">Настройки</h2>
              </div>
            </div>
          </div>
          <li>
           <img src="./assets/img/admin_page/logOut.svg" alt="">
           <h2>Выход</h2>
          </li>
        </div> 
      </ul>
    </div>
  </div>
</div>

<div class="admin__page">
    <app-menu-dashboard></app-menu-dashboard>
    <div class="admin__container">
      <div class="admin_navbar">
        <div class="navbar-item">
          <div></div>
          <h1>«Nets.tj»</h1>
          <img src="./assets/img/admin_page/logOut.svg" alt="" />
        </div>
      </div>
      <div class="admin__content">
        <div class="additionalPackages_content">
          <div class="additionalPackages_container">
            <div class="additionalPackages_block">
              
              <div class="additionalPackages_item">
                <h2>Пакеты<span>\ Дополнительный пакет</span></h2>
                <div class="packages_block">
                  <div class="normalTariffs_block">
                    <div class="tarriffs_block">
                      <div class="name_block">
                        <h3>Название</h3>
                        <h2>+10GB</h2>
                      </div>
                      <div class="line"></div>
                      <div class="price_block">
                        <h3>Стоимость</h3>
                        <h2>40 сомони</h2>
                      </div>
                      <div class="tariffs_btn">
                        <button>Подключить пакет</button>
                      </div>
                    </div>
  
                    <div class="tarriffs_block">
                      <div class="name_block">
                        <h3>Название</h3>
                        <h2>+30GB</h2>
                      </div>
                      <div class="line"></div>
                      <div class="price_block">
                        <h3>Стоимость</h3>
                        <h2>120 сомони</h2>
                      </div>
                      <div class="tariffs_btn">
                        <button>Подключить пакет</button>
                      </div>
                    </div>
                  </div>
                  <div class="superTariffs_block">
                    <div class="tarriffs_block">
                      <div class="name_block">
                        <h3>Название</h3>
                        <h2>+50GB</h2>
                      </div>
                      <div class="line"></div>
                      <div class="price_block">
                        <h3>Стоимость</h3>
                        <h2>200 сомони</h2>
                      </div>
                      <div class="tariffs_btn">
                        <button>Подключить пакет</button>
                      </div>
                    </div>
  
                    <div class="tarriffs_block">
                      <div class="name_block">
                        <h3>Название</h3>
                        <h2>+100GB</h2>
                      </div>
                      <div class="line"></div>
                      <div class="price_block">
                        <h3>Стоимость</h3>
                        <h2>400 сомони</h2>
                      </div>
                      <div class="tariffs_btn">
                        <button>Подключить пакет</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  
