<app-header-mobi></app-header-mobi>
<div class="admin__page">
  <app-menu-dashboard></app-menu-dashboard>
  <div class="admin__container">
    <div class="admin_navbar">
      <div class="navbar-item">
        <div></div>
        <h1>«Nets.tj»</h1>
        <img src="./assets/img/admin_page/logOut.svg" alt="" (click)="logOut()" />
      </div>
    </div>
    <div class="admin__content">
      <div class="traffic_content">
        <div class="traffic_container">
          <div class="traffic_block">
            <div class="traffic_item">
              <div class="browsingTraffic_block">
                <h1>Просмотр трафика</h1>
                <div class="browsingTraffic_item">
                  <div class="circle_block">
                    <mat-progress-spinner class="circle1" strokeWidth="12" diameter="170" [value]="100"></mat-progress-spinner>
                    <mat-progress-spinner class="circle2" strokeWidth="12" diameter="170" [value]="trafficFullData.trafficFull[0]?.remainTraffic * 3 / 2" *ngIf="trafficFullData.id == 1"></mat-progress-spinner>
                    <mat-progress-spinner class="circle2" strokeWidth="12" diameter="170" [value]="trafficFullData.trafficFull[0]?.remainTraffic" *ngIf="trafficFullData.id == 2"></mat-progress-spinner>
                    <mat-progress-spinner class="circle2" strokeWidth="12" diameter="170" [value]="trafficFullData.trafficFull[0]?.remainTraffic / 1.5" *ngIf="trafficFullData.id == 3"></mat-progress-spinner>
                    <mat-progress-spinner class="circle2" strokeWidth="12" diameter="170" [value]="trafficFullData.trafficFull[0]?.remainTraffic / 2" *ngIf="trafficFullData.id == 4"></mat-progress-spinner>
                    <mat-progress-spinner class="circle2" strokeWidth="12" diameter="170" [value]="trafficFullData.trafficFull[0]?.remainTraffic / 3" *ngIf="trafficFullData.id == 5"></mat-progress-spinner>
                    <mat-progress-spinner class="circle2" strokeWidth="12" diameter="170" [value]="trafficFullData.trafficFull[0]?.remainTraffic / 5" *ngIf="trafficFullData.id == 6"></mat-progress-spinner>
                    <div class="number">
                      <h2>{{ trafficFullData.trafficFull[0]?.remainTraffic }}GB</h2>
                    </div>
                  </div>
                  <div class="general_block">
                    <div class="general_item">
                      <h3>Общий трафик</h3>
                      <h2>{{ trafficFullData.gigSpeed}}GB</h2>
                    </div>
                    <div class="line"></div>
                  </div>
                  <div class="spent_block">
                    <div class="spent_item">
                      <h3>Потраченный трафик</h3>
                      <h2>{{ trafficFullData.trafficFull[0]?.spendTraffic }}GB</h2>
                    </div>
                    <div class="line"></div>
                  </div>
                  <div class="remainder_block">
                    <div class="remainder_item">
                      <h3>Оставшийся трафик</h3>
                      <h2>{{ trafficFullData.trafficFull[0]?.remainTraffic }}GB</h2>
                    </div>
                  </div>
                  <div class="traffic_btn">
                    <!-- <button>История</button> -->
                  </div>
                </div>
              </div>
              <div class="banner_block"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>