

<div class="menu__dashboard">
  <div class="menu__logo">
    <img src="./assets/img/nets_logo.svg" alt="" />
  </div>
  <div class="menu_block">
    <div class="menu-item" [routerLink]="['/admin', adminId]">
      <div class="item-list" id="tr">
        <img  src="./assets/img/admin_page/tarifs_icon.svg" alt="" />
        <h2>Тариф</h2>
      </div>
    </div>
    <div class="menu-item" routerLink="/balance">
      <div class="item-list">
        <img src="./assets/img/admin_page/balance_icon.svg" alt="" />
        <h2>Мой баланс</h2>
      </div>
    </div>
    <div class="menu-item" [routerLink]="['/trafics', adminId]">
      <div class="item-list">
        <img src="./assets/img/admin_page/trafics_icon.svg" alt="" />
        <h2>Трафик</h2>
      </div>
    </div>
    <div class="menu-item" [routerLink]="['/packet', packagesId]">
      <div class="item-list">
        <img src="./assets/img/admin_page/packets_icon.svg" alt="" />
        <h2>Пакеты</h2>
      </div>
    </div>
    <div class="menu-item" routerLink="/setting">
      <div class="item-list">
        <img src="./assets/img/admin_page/setting_icon.svg" alt="" />
        <h2>Настройки</h2>
      </div>
    </div>
  </div>
</div>