<div class="menu__dashboard">
  <div class="menu__logo">
    <img src="./assets/img/nets_logo.svg" alt="" />
  </div>
  <div class="menu_block">
    <div class="menu-item">
      <div class="item-list" id="tr">
        <img  src="./assets/img/admin_page/tarifs_icon.svg" alt="" />
        <h2 routerLink="/admin">Тариф</h2>
      </div>
    </div>
    <div class="menu-item">
      <div class="item-list">
        <img src="./assets/img/admin_page/balance_icon.svg" alt="" />
        <h2 routerLink="/balance">Мой баланс</h2>
      </div>
    </div>
    <div class="menu-item">
      <div class="item-list">
        <img src="./assets/img/admin_page/trafics_icon.svg" alt="" />
        <h2 routerLink="/trafics">Трафик</h2>
      </div>
    </div>
    <div class="menu-item">
      <div class="item-list">
        <img src="./assets/img/admin_page/packets_icon.svg" alt="" />
        <h2 routerLink="/packet">Пакеты</h2>
      </div>
    </div>
    <div class="menu-item">
      <div class="item-list">
        <img src="./assets/img/admin_page/setting_icon.svg" alt="" />
        <h2 routerLink="/setting">Настройки</h2>
      </div>
    </div>
  </div>
</div>