
<div class="header__subtitle">
  <div class="header__container">
    <div class="header__logo">
      <img src="./assets/img/nets_logo.svg" alt="" />
    </div>
   
    <div class="menu__block">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>
      <ul class="menu__box">
        <div class="menu__dashboard">
          <!-- <div class="menu__logo">
            <img src="./assets/img/nets_logo.svg" alt="" />
          </div> -->
          <div class="menu_block">
            <div class="menu-item">
              <div class="item-list" id="tr">
                <img  src="./assets/img/admin_page/tarifs_icon.svg" alt="" />
                <h2 routerLink="/admin">Тариф</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/balance_icon.svg" alt="" />
                <h2 routerLink="/balance">Мой баланс</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/trafics_icon.svg" alt="" />
                <h2 routerLink="/trafics">Трафик</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/packets_icon.svg" alt="" />
                <h2 routerLink="/packet">Пакеты</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/setting_icon.svg" alt="" />
                <h2 routerLink="/setting">Настройки</h2>
              </div>
            </div>
          </div>
          <li>
           <img src="./assets/img/admin_page/logOut.svg" alt="">
           <h2>Выход</h2>
          </li>
        </div> 
      </ul>
    </div>
  </div>
</div>

<div class="admin__page">
  <app-menu-dashboard></app-menu-dashboard>
  <div class="admin__container">
    <div class="admin_navbar">
      <div class="navbar-item">
        <div></div>
        <h1>«Nets.tj»</h1>
        <img src="./assets/img/admin_page/logOut.svg" alt="" (click)="logOut()" />
      </div>
    </div>
    <div class="admin__content">
      <div class="tariffs_container">
        <div class="tariffs_block">
          <div class="tariffs_item">
            <div class="myTariffs_block">
              <h1>Мой тариф</h1>
              <div class="priceTariffs_block">
                <div class="monthlyPrice_block">
                  <h1>{{ tarifsData.price }}</h1>
                  <h2>Сомони <br />в меяц</h2>
                </div>
                <div class="gigabytes_block">
                  <div class="gigabytes_item">
                    <p>Гигабайты</p>
                    <p>{{ tarifsData.gigSpeed }}</p>
                  </div>
                  <progress max="500" [value]="tarifsData.gigSpeed"></progress>
                </div>
                <div class="speed_block">
                  <p>&#9830; Скорость {{ tarifsData.speed }} Mbit/s</p>
                  <progress max="15" [value]="tarifsData.speed"></progress>
                </div>
                <div class="tariffs_button">
                  <button [routerLink]="['/trafics', tarifsData.id]">Проверить остаток</button>
                </div>
              </div>
              <h2 routerLink="/tarifs">Сменить тариф</h2>
            </div>
            <div class="banners_block"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<app-footer></app-footer>

