.admin__page {
  display: flex;
  background: #202020; 
  .admin__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px; 
    .admin_navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #3E3E3E;

      .navbar-item {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 80%;
        padding: 20px 10px;
        background: #202020;

        h1 {
          margin: 0;
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 40px;
          color: #FFFFFF;
        }

        img {
          width: 40px;
          height: 40px;
          cursor: pointer;

          &:active {
            transform: scale(.96);
          }
        }
      }
    }

    .admin__content {
      display: flex;
      flex-direction: column; 
      .tariffs_container {
        .tariffs_block {
          display: flex;
          max-width: 1200px;
          margin: 0 auto;
          .tariffs_item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 50px 20px 0;

            .myTariffs_block {
              h1 {
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                font-size: 36px;
                color: #FFFFFF;
                
              }

              .priceTariffs_block {
                background: rgba(255, 255, 255, 0.03);
                border: 0.5px solid rgba(255, 255, 255, 0.5);
                box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(48px);
                border-radius: 25px;
                width: 370px;
                margin-top: 60px;
                padding: 20px 0;

                .monthlyPrice_block {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 10px;

                  h1 {
                    font-family: 'Raleway', sans-serif;
                    font-weight: 700;
                    font-size: 64px;
                    color: #FFFFFF;
                    margin: 0;
                  }

                  h3 {
                    font-family: 'Raleway', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    color: #FFFFFF;
                    margin: 0;
                    line-height: 1;
                  }
                }

                .gigabytes_block {
                  width: 80%;
                  margin: 0 auto;
                  margin-top: 35px;

                  .gigabytes_item {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p {
                      font-family: 'Raleway', sans-serif;
                      font-weight: 500;
                      font-size: 18px;
                      color: #FFFFFF;
                    }

                  }
                  progress{
                    -webkit-appearance: none;
                    width: 100%;
                    height: 11px;
                    &::-webkit-progress-bar{
                      border-radius: 8px;
                      background: #7E7E7F;
                      overflow: hidden;
                    }
                    &::-webkit-progress-value{
                      background: #EA3E2A;
                      border-radius: 8px;
                    }

                  }
              
                }

                .speed_block {
                  width: 80%;
                  margin: 0 auto;
                  margin-top: 25px;

                  p {
                    font-family: 'Raleway', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    color: #FFFFFF;
                  }

                  progress{
                    -webkit-appearance: none;
                    width: 100%;
                    height: 11px;
                    &::-webkit-progress-bar{
                      border-radius: 8px;
                      background: #7E7E7F;
                      overflow: hidden;
                    }
                    &::-webkit-progress-value{
                      background: #EA3E2A;
                      border-radius: 8px;
                    }

                  }
                }

                .tariffs_button {
                  width: 80%;
                  margin: 0 auto;

                  button {
                    border: 3px solid #EA3E2A;
                    border-radius: 25px;
                    background: rgba(255, 255, 255, 0.03);
                    width: 100%;
                    height: 41px;
                    margin: 25px 0;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    color: #FFFFFF;
                    cursor: pointer;
                  }

                }

              }

              h2 {
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                font-size: 24px;
                color: #EA3E2A;
                margin-top: 30px;
                cursor: pointer;

                &:hover {
                  opacity: .8;
                }
              }
            }
          }
        }

        .balance_item {
          width: 365px;
          background-color: #EA3E2A;
          height: 700px;

          h1 {
            font-size: 50px;
          }
        }
        .banners_block{
          background: #EA3E2A;
          width: 400px;
          height: 700px;
        }
        @media screen and (max-width: 1200px) {
          .tariffs_item {
            flex-direction: column;
            align-items: center;

            .banners_block {
              margin-top: 30px;
            }
          }
        }

        @media screen and (max-width: 480px) {
          .tariffs_block {
            .tariffs_item {
              width: 100%;

              .myTariffs_block {
                width: 90%;
                h1{
                  font-size: 30px;
                  text-align: center;
                }
                .priceTariffs_block {
                  width: 100%;
                  margin-top: 30px;
                  .monthlyPrice_block{
                    h1{
                      font-size: 50px;
                    }
                    h2{
                      font-size: 16px;
                      line-height: 20px;
                    }
                  }
                  .gigabytes_block{
                    .gigabytes_item{
                      p{
                        font-size: 16px;
                        margin: 0;
                      }
                    }
                  }
                  .speed_block{
                    p{
                      font-size: 16px;
                      margin: 0;
                    }
                  }
                  .tariffs_button{
                    button{
                      font-size: 16px;
                    }
                  }
                }
              }

              .banners_block {
                width: 90%;
              }
              
            }
          }
        }
      }  
    }
    @media screen and (max-width: 480px) {
      .admin_navbar {
        .navbar-item {
          h1{
            font-size: 30px;
          }
  
         
        }
      }
    }
    @media screen and (max-width: 961px) {
      .admin_navbar {
        .navbar-item {
          width: 90%;
          justify-content: space-between;

          div {
            display: none;
          }
        }
      }
    }
  }
 
}
