.admin__page {
  display: flex;
  background: #202020; 
  .admin__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px; 
    .admin_navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #3E3E3E;

      .navbar-item {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 80%;
        padding: 20px 10px;
        background: #202020;

        h1 {
          margin: 0;
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 40px;
          color: #FFFFFF;
        }

        img {
          width: 40px;
          height: 40px;
          cursor: pointer;

          &:active {
            transform: scale(.96);
          }
        }
      }
    }

    .admin__content {
      display: flex;
      flex-direction: column; 
      .settings_content{
        .settings_container{
            .settings_block{
                display: flex;
                gap: 10px;
                
            .settings_item{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 0 10px;
                gap: 10px;
                width: 100%;
                max-width: 1200px;
                margin: 25px auto;
               .password_block{
                  h1{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 42px;
                    color: #FFFFFF;
    
                  }
                  .password_item{
                    background: rgba(255, 255, 255, 0.03);
                    border: 0.5px solid rgba(255, 255, 255, 0.5);
                    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
                    backdrop-filter: blur(48px);
                    border-radius: 25px;
                    width: 370px;
                    padding: 30px 0 30px;
                    .oldPassword_block{
                        border: 1px solid #6F7071;
                        box-shadow: 0px 4px 4px 4px rgba(255, 255, 255, 0.05);
                        border-radius: 80px;
                        width: 70%;
                        margin: 0 auto;
                        background: rgba(255, 255, 255, 0.03);
                        margin-top: 85px;
                        input{
                            width: 78%;
                            border: none;
                            outline: none;
                            background: none;
                            font-size: 18px;
                            margin-left: 8px;
                            color: #fff;
                            height: 45px;
                        }
                    }
                    .newPassword_block{
                        display: flex;
                        border: 1px solid #6F7071;
                        box-shadow: 0px 4px 4px 4px rgba(255, 255, 255, 0.05);
                        border-radius: 80px;
                        width: 70%;
                        background: rgba(255, 255, 255, 0.03);
                        margin: 0 auto;
                        gap: 5px;
                        margin-top: 25px;
                        input{
                        width: 78%;
                        border: none;
                        outline: none;
                        background: none;
                        height: 45px;
                        font-size: 18px;
                        margin-left: 8px;
                        color: #fff;
                        }
                        img{
                            background: none;
                            cursor: pointer;
                        }
                    }
                  }
                  .password_btn{
                    width: 60%;
                    margin: 0 auto;
                    margin-top: 85px;
                    margin-bottom: 80px;
                    button{
                        border: 3px solid #EA3E2A;
                        border-radius: 25px;
                        width: 100%;
                        height: 40px;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 21px;
                        color: #FFFFFF;
                        background: rgba(255, 255, 255, 0.03);
                        cursor: pointer;
                    }
                  }
               } 
            }    
            }
            .banner_block{
                width: 400px;
                background-color: yellow;
                height: 700px;
                h1{
                 font-size: 50px;
                 text-align: center;
                }
            }
            @media screen and(max-width: 480px) {
                .settings_block{
                    
                    .settings_item{
                        justify-content: center;
                        width: 100%;
                        padding: 0px;
                        .password_block{
                          width: 90%;
                          h1{
                            font-size: 29px;
                            text-align: center;
                          }
                          .password_item{
                            width: 100%;
                            .oldPassword_block{
                              input{
                                font-size: 16px;
                              }
                            }
                            .newPassword_block{
                              input{
                                font-size: 16px;
                              }
                            }
                            .password_btn{
                              button{
                                font-size: 16px;
                              }
                            }
                          }
                          
                        }
                        .banner_block{
                            width: 90%;
                            margin-top: 30px;
                        }
                    }
                }
                
            }
        }
    }
        
    }
    @media screen and (max-width: 480px) {
      .admin_navbar {
        .navbar-item {
          h1{
            font-size: 30px;
          }
  
         
        }
      }
    }
    @media screen and (max-width: 961px) {
      .admin_navbar {
        .navbar-item {
          width: 90%;
          justify-content: space-between;

          div {
            display: none;
          }
        }
      }
    }
  }
 
}
