<app-header></app-header>
<div class="service__content">
  <div class="service__container">
    <div class="service_block">
      <img src="./assets/img/NETS2.svg" alt="">
      <h1>Аутсорсинг и сервис ИТ-инфраструктура</h1>
    </div>
    <div class="service_text">
      <ul>
        <li> <span> Прокладка структурированных кабельных сетей. </span></li>
        <li> <span>Администрирование серверов компании.</span></li>
        <li><span>Настройка резервного копирования данных.</span></li>
        
      </ul>
    </div>
  </div>
</div>
<div class="development_content">
  <div class="development_container">
    <div class="development_block">
      <img src="./assets/img/NETS3.svg" alt="">
      <h1>Разработка и реализация решений «Умного дома»</h1>
    </div>
    <div class="development_text">
      <p>«Умный дом» - это автоматизация систем быта, все, 
        что сможет упрощать и предоставлять комфортную жизнь, 
        экономию и  максимальную безопасность прибывания и
        проживания в жилом помещении. </p>
    </div>
    <ul>
       <li><span>управление вентиляцией и кондиционированием;</span></li>
       <li><span>управление освещением;</span></li>
       <li><span>контроль счётчиков воды и электроэнергии;</span></li>
       <li><span>предупреждение выхода оборудования из строя;</span></li>
       <li><span>контроль климата.</span></li>
    </ul>
  </div>
</div>
 <div class="ipTv_content">
   <div class="ipTv_container">
    <div class="ipTv_block">
      <img src="./assets/img/NETS4.svg" alt="">
      <h1>IPTV</h1>
    </div>
    <div class="ipTv_text">
      <p>IPTV (Internet Protocol Television) – это  современная технология передачи телевизионного сигнала по каналам интернета. Данная технология позволяет получить идеальное качество изображения и звука, а также значительно расширить возможности телевидения путем добавления дополнительных сервисов. Мы предоставляем нашим клиентам большое количество развлекательных и познавательных каналов в HD качестве. </p>
    </div>
   </div>
 </div>
 <div class="bitrix_content">
  <div class="bitrix_container">
    <div class="bitrix_block">
      <img src="./assets/img/NETS5.svg" alt="">
      <h1>Платформа Bitrix24</h1>
    </div>
    <div class="bitrix_text">
      <p>Компани «NETS» является региональным представителем компании «Битрикс24» в Республике Таджикистан. 
        Платформа Битрикс24 – это набор из пяти важных и полезных инструментов, которые помогают бизнесу работать:</p>
        <ul>
          <li><span>CRM,</span></li>
          <li><span>Онлайн-офис,</span></li>
          <li><span>Задачи и проекты,</span></li>
          <li><span>Контакт-центр,</span></li>
          <li><span>Сайты и магазины.</span></li>
        </ul>
        <p>Внедрение данной СRМ положительно отражается на успешности крупных и мелких компаний. Это дает возможность руководителям предприятий:</p>
        <ul>
          <li><span>быть на связи с каждым из сотрудников;</span></li>
          <li><span>мгновенно оповещать коллег о важных событиях;</span></li>
          <li><span>управлять продажами и повышать их количество;</span></li>
          <li><span>создавать отчеты и диаграммы для оценки эффективности работы компании;</span></li>
          <li><span>избавляться от рутинных процессов и посвящать дополнительное время более важным задачам.</span></li>
        </ul>
    </div>
  </div>
 </div>
<!-- <div class="images_">
  <img src="./assets/img/images_.png" alt="">
</div> -->

<!-- <div class="container_b2b"></div> -->