<div class="admin__page"> 
  <app-menu-dashboard></app-menu-dashboard>
   <div class="admin__container">
       <div class="admin_navbar">
           <div class="navbar-item">
               <div></div>
               <h1>«Nets.tj»</h1>
               <img src="./assets/img/admin_page/logOut.svg" alt="">
           </div>
       </div>
       <div class="admin__content"> 
          <div class="tariffs_content">
              <div class="tariffChange_container"  >
                  <div class="tariffChange_block"> 
                    <div class="tariffChange_item">
                      <h1 >Смена тарифа</h1>
                      <h3  ><span routerLink="/admin" >Тарифы</span> \ Сменить тариф </h3>
                      <div class="tariffs_block">
                        <div class="normalTariffs_block">
                          <div class="priceTariffs_block">
                            <div class="monthlyPrice_block">
                              <h1>280</h1>
                              <h2>Сомони <br>в меяц</h2>
                            </div>
                            <div class="gigabytes_block">
                              <div class="gigabytes_item">
                                <p>Гигабайты</p>
                                <p>70</p>
                              </div>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="speed_block">
                              <p> &#9830; Скорость 5 Mbit/s</p>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="tariffs_button">
                              <button>Проверить остаток</button>
                            </div>
                          </div>
              
                          <div class="priceTariffs_block">
                            <div class="monthlyPrice_block">
                              <h1>600</h1>
                              <h2>Сомони <br>в меяц</h2>
                            </div>
                            <div class="gigabytes_block">
                              <div class="gigabytes_item">
                                <p>Гигабайты</p>
                                <p>150</p>
                              </div>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="speed_block">
                              <p> &#9830; Скорость 10 Mbit/s</p>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="tariffs_button">
                              <button>Проверить остаток</button>
                            </div>
                          </div>
              
                          <div class="priceTariffs_block">
                            <div class="monthlyPrice_block">
                              <h1>1200</h1>
                              <h2>Сомони <br>в меяц</h2>
                            </div>
                            <div class="gigabytes_block">
                              <div class="gigabytes_item">
                                <p>Гигабайты</p>
                                <p>300</p>
                              </div>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="speed_block">
                              <p> &#9830; Скорость 12 Mbit/s</p>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="tariffs_button">
                              <button>Проверить остаток</button>
                            </div>
                          </div>
                        </div>
                        <div class="superTariffs_block">
                          <div class="priceTariffs_block">
                            <div class="monthlyPrice_block">
                              <h1>400</h1>
                              <h2>Сомони <br>в меяц</h2>
                            </div>
                            <div class="gigabytes_block">
                              <div class="gigabytes_item">
                                <p>Гигабайты</p>
                                <p>70</p>
                              </div>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="speed_block">
                              <p> &#9830; Скорость 5 Mbit/s</p>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="tariffs_button">
                              <button>Проверить остаток</button>
                            </div>
                          </div>
              
                          <div class="priceTariffs_block">
                            <div class="monthlyPrice_block">
                              <h1>800</h1>
                              <h2>Сомони <br>в меяц</h2>
                            </div>
                            <div class="gigabytes_block">
                              <div class="gigabytes_item">
                                <p>Гигабайты</p>
                                <p>70</p>
                              </div>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="speed_block">
                              <p> &#9830; Скорость 5 Mbit/s</p>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="tariffs_button">
                              <button>Проверить остаток</button>
                            </div>
                          </div>
              
                          <div class="priceTariffs_block">
                            <div class="monthlyPrice_block">
                              <h1>2000</h1>
                              <h2>Сомони <br>в меяц</h2>
                            </div>
                            <div class="gigabytes_block">
                              <div class="gigabytes_item">
                                <p>Гигабайты</p>
                                <p>70</p>
                              </div>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="speed_block">
                              <p> &#9830; Скорость 5 Mbit/s</p>
                              <progress max="10" value="3"></progress>
                            </div>
                            <div class="tariffs_button">
                              <button>Проверить остаток</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
          </div>
       </div>
   </div>
</div>



<app-footer></app-footer>