<div class="admin__page"> 
  <app-menu-dashboard></app-menu-dashboard>
   <div class="admin__container">
       <div class="admin_navbar">
           <div class="navbar-item">
               <div></div>
               <h1>«Nets.tj»</h1>
               <img src="./assets/img/admin_page/logOut.svg" alt="">
           </div>
       </div>
       <div class="admin__content"> 
          <div class="tariffs_content">
              <div class="tariffChange_container"  >
                  <div class="tariffChange_block"> 
                    <div class="tariffChange_item">
                      <h1 >Смена тарифа</h1>
                      <h3  ><span routerLink="/admin" >Тарифы</span> \ Сменить тариф </h3>
                      <div class="tariffs_block">
                        <div class="normalTariffs_block" *ngFor="let changeTarifs of changeTarifsData">
                          <div class="priceTariffs_block">
                            <div class="monthlyPrice_block">
                              <h1>{{ changeTarifs.price }}</h1>
                              <h2>Сомони <br>в меяц</h2>
                            </div>
                            <div class="gigabytes_block">
                              <div class="gigabytes_item">
                                <p>Гигабайты</p>
                                <p>{{ changeTarifs.gigSpeed }}</p>
                              </div>
                              <progress max="500" [value]="changeTarifs.gigSpeed"></progress>
                            </div>
                            <div class="speed_block">
                              <p> &#9830; Скорость {{changeTarifs.speed }} Mbit/s</p>
                              <progress max="15" [value]="changeTarifs.speed"></progress>
                            </div>
                            <div class="tariffs_button">
                              <button [routerLink]="['/admin', changeTarifs.id]">Оставить заявку</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
          </div>
       </div>
   </div>
</div>



<app-footer></app-footer>