<app-header-mobi></app-header-mobi>
<div class="modal__container" *ngIf="showModalTarifsOrder">
  <div class="modal__content">
    <div class="time">
      <i class="fas fa-times fa-2x" (click)="showModalTarifsOrder = false"></i>
    </div>
    <div class="modal__block">
      <h1>ВАШ ОТКЛИК</h1>
      <div class="conection_title">
        <h2>ВЫ ОСТАВЛЯЕТЕ ЗАЯВКУ НА СМЕНУ ТАРИФА</h2>
        <h2>{{ tarifs_name }} GB</h2>
      </div>
      <h3>Контактная информация:</h3>
      <div class="block_input">
        <form action="">
          <input type="text" placeholder="Фамилия" />
          <input type="text" placeholder="Имя" />
          <input type="text" placeholder="Отчество" />
          <input type="tel" placeholder="Телефон" />
          <input type="email" placeholder="Email" />
        </form>
      </div>
    </div>
    <div class="btn">
      <button [routerLink]="['/admin', tarifs_id]">Отправить</button>
    </div>
  </div>
</div>

<div class="admin__page"> 
  <app-menu-dashboard></app-menu-dashboard>
   <div class="admin__container">
       <div class="admin_navbar">
           <div class="navbar-item">
               <div></div>
               <h1>«Nets.tj»</h1>
               <img src="./assets/img/admin_page/logOut.svg" alt="" (click)="logOut()">
           </div>
       </div>
       <div class="admin__content"> 
          <div class="tariffs_content">
              <div class="tariffChange_container"  >
                  <div class="tariffChange_block"> 
                    <div class="tariffChange_item">
                      <h1 >Смена тарифа</h1>
                      <h3 (click)="backToTarif()"><span>Тарифы</span> \ Сменить тариф </h3>
                      <div class="tariffs_block">
                        <div class="normalTariffs_block" *ngFor="let changeTarifs of changeTarifsData">
                          <div class="priceTariffs_block">
                            <div class="monthlyPrice_block">
                              <h1>{{ changeTarifs.price }}</h1>
                              <h2>Сомони <br>в меяц</h2>
                            </div>
                            <div class="gigabytes_block">
                              <div class="gigabytes_item">
                                <p>Гигабайты</p>
                                <p>{{ changeTarifs.gigSpeed }}</p>
                              </div>
                              <progress max="500" [value]="changeTarifs.gigSpeed"></progress>
                            </div>
                            <div class="speed_block">
                              <p> &#9830; Скорость {{changeTarifs.speed }} Mbit/s</p>
                              <progress max="15" [value]="changeTarifs.speed"></progress>
                            </div>
                            <div class="tariffs_button">
                              <button (click)="sendTarifOrder( changeTarifs.id, changeTarifs.gigSpeed)">Оставить заявку</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
          </div>
       </div>
   </div>
</div>



<app-footer></app-footer>