.modal_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);

  i {
    position: absolute;
    right: 45px;
    color: #fff;
    font-size: 38px;
    cursor: pointer;
  }

  .modal_block {
    position: relative;
    background: #202020;
    border-radius: 50px;
    margin: auto;
    width: 800px;
    padding: 20px 0;
    margin: 0 20px;

    h1,
    h2 {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 32px;
      color: #FFFFFF;
      margin-top: 50px;
      text-align: center;
    }

    .alifQr_content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 20px;

      .alifQr_block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .alifQr_text {
          text-align: center;
          margin: 0;
          margin-top: 30px;
          font-weight: 400;

        }

        .qrCode_text {
          margin: 0;
          margin-top: 10px;
          font-weight: 400;
        }
      }
    }

    .qr_img {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

    }

  }

  @media screen and (max-width: 480px) {
    i {
      right: 25px;
      font-size: 25px;
  
    }
    .modal_block {
      h1 {
        font-size: 25px;
      }

      .alifQr_content {

        .alifQr_block {
          h2 {
            font-size: 20px;
          }
        }
      }

      .qr_img {
        img {
          width: 220px;
        }
      }
    }
  }

}


.header__subtitle {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    z-index: 99;
    border-bottom: 1px solid #3E3E3E;
    background: #202020;
    display: none;
    position: fixed;

    @media screen and (max-width:600px) {
      top: 0;
    }

    .header__logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header__btn {
      display: flex;
      align-items: center;
      width: 70%;

      a {
        text-decoration: none;
        margin-left: 20px;

        h3 {
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 16px;
          color: #fff;
          cursor: pointer;


          &:not(:first-child) {
            margin-left: 30px;
          }

          &:hover {
            color: #EA3E2A;
          }
        }
      }


      @media screen and (max-width:700px) {
        display: none;
      }
    }

    .menu__block {
      width: 50px;
      height: 58px;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      position: absolute;
      right: 5px;
      top: 21px;
      display: none;
    }

    /* скрываем чекбокс */
    #menu__toggle {
      opacity: 0;
    }

    /* стилизуем кнопку */
    .menu__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 35px;
      height: 35px;
      cursor: pointer;
      z-index: 3;
      position: relative;
      top: -16px;
    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #EA3E2A;
    }

    .menu__btn>span::before {
      content: '';
      top: -8px;
    }

    .menu__btn>span::after {
      content: '';
      top: 8px;
    }

    /* контейнер меню */
    .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      right: 100%;
      width: 100%;
      height: 100%;
      margin: 0;
      list-style: none;
      text-align: center;
      background-color: #202020;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      z-index: 2;
      border-bottom-left-radius: 30px;
      top: 0px;

      .menu__dashboard {
        li {
          display: flex;
          align-items: center;
          gap: 12px;
          margin-left: 25px;
          position: absolute;
          bottom: 53px;
          cursor: pointer;

          h2 {
            margin: 0;
            font-family: 'Raleway';
            font-weight: 600;
            font-size: 17.9191px;
            color: #FFFFFF;

          }
        }

        background: #202020;
        width: 100%;

        position: sticky;
        height: 100%;

        .menu__logo {
          display: flex;
          justify-content: center;
          border-bottom: 1px solid #3E3E3E;
        }

        .menu_block {

          margin-top: 30px;

          .menu-item {
            border-bottom: 1px solid #3E3E3E;

            #tr {
              img {
                width: 50px;
                height: 50px;

                margin-left: -5px;
              }

              h2 {
                margin-left: 15px;
              }
            }

            .item-list {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: 10px 0 10px 21px;
              cursor: pointer;

              h2 {
                margin: 0;
                font-family: 'Raleway';
                font-weight: 900;
                font-size: 20px;
                color: #FFFFFF;
                margin-left: 20px;

                &:active {
                  transform: scale(.97);
                }
              }

              img {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }

    }






    /* элементы меню */
    .menu__item {
      display: block;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      text-decoration: none;
      padding: 5px;
      text-align: left;
    }

    .menu__item:hover {
      color: #EA3E2A;
    }

    .menu__item:active {
      transform: scale(.7);
    }

    #menu__toggle:checked~.menu__btn>span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
      top: 0;
      transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
      visibility: visible;
      right: 0;
    }


    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
      transition-duration: .25s;
    }

    .menu__box {
      transition-duration: .25s;
    }

    .menu__item {
      transition-duration: .25s;
    }


    @media screen and (max-width:961px) {
      .header__logo {
        img {
          width: 200px;
        }
      }

      .menu__block {
        display: flex;
      }
    }
  }

  @media screen and (max-width: 961px) {
    .header__container {
      display: flex;
      align-items: center;

    }
  }
}





.admin__page {
  display: flex;
  background: #202020;

  .admin__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    .admin_navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #3E3E3E;

      .navbar-item {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 80%;
        padding: 20px 10px;
        background: #202020;

        h1 {
          margin: 0;
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 40px;
          color: #FFFFFF;
        }

        img {
          width: 40px;
          height: 40px;
          cursor: pointer;

          &:active {
            transform: scale(.96);
          }
        }
      }
    }

    .admin__content {
      display: flex;
      flex-direction: column;

      .balance_container {
        .balance_bllock {
          padding: 0 10px;

          .balance_item {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            max-width: 1200px;
            margin: 50px auto;
            gap: 10px;

            .myBalance_block {
              max-width: 370px;

              h1 {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 42px;
                color: #FFFFFF
              }

              .myBalance_item {
                background: rgba(255, 255, 255, 0.03);
                border: 0.5px solid rgba(255, 255, 255, 0.5);
                box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(48px);
                border-radius: 25px;
                width: 100%;

                h1 {
                  font-family: 'Raleway';
                  font-style: normal;
                  font-weight: 700;
                  font-size: 58px;
                  line-height: 75px;
                  color: #FFFFFF;
                  text-align: center;
                  padding: 50px 0;
                }

                .balance_button {
                  width: 90%;
                  margin: 0 auto;
                  margin-top: 35px;
                  margin-bottom: 25px;

                  button {
                    border: 3px solid #EA3E2A;
                    border-radius: 25px;
                    width: 100%;
                    background: rgba(255, 255, 255, 0.03);
                    height: 40px;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    color: #FFFFFF;
                    cursor: pointer;
                  }
                }
              }

              h2 {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: #EA3E2A;
                margin-top: 20px;
                cursor: pointer;

                span {
                  color: #7E7E7F;
                  font-size: 18px;
                }
              }
            }

            .banner_block {
              width: 365px;
              background-color: #EA3E2A;
              height: 700px;
            }
          }
        }

        @media screen and (max-width: 365px) {

          .balance_bllock {
            h1 {
              text-align: center;
              width: 90%;
            }

            .balance_item {
              width: 100%;

              .myBalance_block {
                width: 100%;

                h1 {
                  font-size: 34px;
                  text-align: center;
                }

                .myBalance_item {
                  h1 {
                    font-size: 40px;
                  }

                  .balance_button {
                    button {
                      font-size: 16px;
                    }
                  }
                }

                h2 {
                  font-size: 18px;
                  text-align: center;
                }
              }

              .banner_block {
                width: 100%;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 480px) {
      .admin_navbar {
        .navbar-item {
          h1 {
            font-size: 30px;
          }


        }
      }
    }

    @media screen and (max-width: 961px) {
      .admin_navbar {
        .navbar-item {
          width: 90%;
          justify-content: space-between;

          div {
            display: none;
          }
        }
      }
    }
  }
}
