
<div class="modal_container" *ngIf="modalQrCode">
  <div class="modal_block">
   <i class="fa fa-times" (click)="modalQrCode = false"></i>
   <h2>Пополнение alif.mobi</h2>

    <h2 class="alifQr_text">1. Откройте приложение alif.mobi</h2>
    <h2 class="qrCode_text">2. Отсканируйте код</h2>
    <div class="qr_img">
     <img src="./assets/img/Qrcode.svg" alt="">
    </div>
  </div>

</div>
<div class="header__subtitle">
  <div class="header__container">
    <div class="header__logo">
      <img src="./assets/img/nets_logo.svg" alt="" />
    </div>
   
    <div class="menu__block">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>
      <ul class="menu__box">
        <div class="menu__dashboard">
          <!-- <div class="menu__logo">
            <img src="./assets/img/nets_logo.svg" alt="" />
          </div> -->
          <div class="menu_block">
            <div class="menu-item">
              <div class="item-list" id="tr">
                <img  src="./assets/img/admin_page/tarifs_icon.svg" alt="" />
                <h2 routerLink="/admin">Тариф</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/balance_icon.svg" alt="" />
                <h2 routerLink="/balance">Мой баланс</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/trafics_icon.svg" alt="" />
                <h2 routerLink="/trafics">Трафик</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/packets_icon.svg" alt="" />
                <h2 routerLink="/packet">Пакеты</h2>
              </div>
            </div>
            <div class="menu-item">
              <div class="item-list">
                <img src="./assets/img/admin_page/setting_icon.svg" alt="" />
                <h2 routerLink="/setting">Настройки</h2>
              </div>
            </div>
          </div>
          <li>
           <img src="./assets/img/admin_page/logOut.svg" alt="">
           <h2>Выход</h2>
          </li>
        </div> 
      </ul>
    </div>
  </div>
</div>


<div class="admin__page">
    <app-menu-dashboard></app-menu-dashboard>
    <div class="admin__container">
      <div class="admin_navbar">
        <div class="navbar-item">
          <div></div>
          <h1>«Nets.tj»</h1>
          <img src="./assets/img/admin_page/logOut.svg" alt="" />
        </div>
      </div>
      <div class="admin__content">
        <div class="balance_container">
            <div class="balance_bllock"> 
                <div class="balance_item">
                    <div class="myBalance_block">
                      <h1>Мой баланс</h1>
                      <div class="myBalance_item">
                        <h1>12285,78</h1>
                        <div class="balance_button">
                        <button>Проверить расходы</button>
                     </div>
                      </div>
                      <h2 (click)="modalQrCode = true">+Пополнить баланс <span>(алиф моби)</span></h2>
                    </div>
                    <div class="banner_block">
                      
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div> 
  <app-footer></app-footer>
  