<div class="modal__container" *ngIf="modalShow == true">
  <div class="time">
    <i class="fas fa-times fa-2x" (click)="modalShow = false"></i>
  </div>
  <div class="modal__block">
    <h1>ВАШ ОТКЛИК</h1>
    <h2>ТЫ ОТКЛИКАЕШЬСЯ НА ВАКАНСИЮ</h2>
    <h2>{{ fullVacancyData.title }}</h2>
    <h3>Контактная информация:</h3>
    <div class="block_input">
      <form action="" [formGroup]="vacancyAddForm">
        <input type="text" placeholder="Фамилия" formControlName="surname">
        <input type="text" placeholder="Имя" formControlName="name">
        <input type="text" placeholder="Отчество" formControlName="secondName">
        <input type="tel" placeholder="Телефон" formControlName="phone">
        <input type="email" placeholder="Email" formControlName="email">
      </form>
    </div>
    <div class="letter">
        <h3>Сопроводительное письмо <span>(необязятельно)</span>:</h3>
        <form action="" [formGroup]="vacancyAddForm">
          <textarea formControlName="letter" name="" id="" cols="10" rows="5" placeholder="Напиши здесь, почему ты хочешь работать на этой позиции."></textarea>
        </form>
    </div>
    <div class="rezume_block">
        <h3>Резюме:</h3>
        <div class="rezume" [formGroup]="vacancyAddForm" >
            <span>{{fileName}}</span>
            <div class="rezume_choose" >
              <input type="file" name="" id="" formControlName="file" (change)="preUpload($event)">
              <span>Выбрать</span>
            </div>
        </div>
    </div>
    <div class="subtitle">
        Отправляя Заявку, я соглашаюсь на обработку 
        <span>моих персональных данных</span>
    </div> 
  </div>
  <div class="btn">
    <button (click)="send()">Отправить</button>
</div>
</div>
<div class="specialVacancy__container" *ngIf="modalShow == false">
    <app-header></app-header>
    <div class="type_page">
    <h2 (click)="backToVacancy()">Вакансии</h2>
    <h3>\ {{ fullVacancyData.title }}</h3>
  </div>
  <div class="special_container">
    <div class="icon">
      <img [src]="fullVacancyData.img" alt="" />
      <button (click)="modalShow = true">Отправить CV</button>
    </div>
    <div class="text">
      <h1>{{ fullVacancyData.title }}</h1>
      <div class="insideText">
        <h2>{{fullVacancyData.looking}}</h2>
        <h2>{{fullVacancyData.desk}}</h2>

        <h2 *ngIf="fullVacancyData.tasks?.length > 0 || fullVacancyData.write?.length > 0 || fullVacancyData.create?.length > 0 || fullVacancyData.optimize?.length > 0 || fullVacancyData.tracking?.length > 0 || fullVacancyData.performanser?.length > 0 || fullVacancyData.preparation?.length > 0 || fullVacancyData.activity?.length > 0 || fullVacancyData.good?.length > 0">Задачи:</h2>
        <ul>
          <li *ngIf="fullVacancyData.tasks?.length > 0">
            {{fullVacancyData.tasks}}
          </li>
          <li *ngIf="fullVacancyData.write?.length > 0">
            {{fullVacancyData.write}}
          </li>
          <li *ngIf="fullVacancyData.create?.length > 0">
            {{fullVacancyData.create}}
          </li>
          <li *ngIf="fullVacancyData.optimize?.length > 0">
            {{fullVacancyData.optimize}}
          </li>
          <li *ngIf="fullVacancyData.tracking?.length > 0">
            {{fullVacancyData.tracking}}
          </li>
          <li *ngIf="fullVacancyData.performanser?.length > 0">
            {{fullVacancyData.performanser}}
          </li>
          <li *ngIf="fullVacancyData.preparation?.length > 0">
            {{fullVacancyData.preparation}}
          </li>
          <li *ngIf="fullVacancyData.activity?.length > 0">
            {{fullVacancyData.activity}}
          </li>
          <li *ngIf="fullVacancyData.good?.length > 0">
            {{fullVacancyData.good}}
          </li>
        </ul>
        <h2 *ngIf="fullVacancyData.programming?.length > 0 ||fullVacancyData.experience?.length > 0 || fullVacancyData.understanding?.length > 0 || fullVacancyData.office?.length > 0 || fullVacancyData.competent?.length > 0 || fullVacancyData.skill?.length > 0 || fullVacancyData.accuraty?.length > 0 || fullVacancyData.under?.length > 0 ||fullVacancyData.similar?.length > 0">Требования:</h2>
        <ul>
          <li *ngIf="fullVacancyData.programming?.length > 0">{{fullVacancyData.programming}}</li>
          <li *ngIf="fullVacancyData.experience?.length > 0">{{fullVacancyData.experience}}</li>
          <li *ngIf="fullVacancyData.understanding?.length > 0">{{fullVacancyData.understanding}}</li>
          <li *ngIf="fullVacancyData.office?.length > 0">{{fullVacancyData.office}}</li>
          <li *ngIf="fullVacancyData.competent?.length > 0">{{fullVacancyData.competent}}</li>
          <li *ngIf="fullVacancyData.skill?.length > 0">{{fullVacancyData.skill}}</li>
          <li *ngIf="fullVacancyData.accuraty?.length > 0">{{fullVacancyData.accuraty}}</li>
          <li *ngIf="fullVacancyData.under?.length > 0">{{fullVacancyData.under}}</li>
          <li *ngIf="fullVacancyData.similar?.length > 0">{{fullVacancyData.similar}}</li>
        </ul>
        <h2 *ngIf="fullVacancyData.Knowledge?.length > 0 || fullVacancyData.Understanding?.length > 0 || fullVacancyData.pprof?.length > 0 || fullVacancyData.nginx?.length > 0">Будет преимуществом:</h2>
        <ul>
          <li *ngIf="fullVacancyData.Knowledge?.length > 0">
            {{fullVacancyData.Knowledge}}
          </li>
          <li *ngIf="fullVacancyData.Understanding?.length > 0">
            {{fullVacancyData.Understanding}}
          </li>
          <li *ngIf="fullVacancyData.pprof?.length > 0">
            {{fullVacancyData.pprof}}
          </li>
          <li *ngIf="fullVacancyData.nginx?.length > 0">
            {{fullVacancyData.nginx}}
          </li>
        </ul>
        <h2 *ngIf="fullVacancyData.willingness?.length > 0 || fullVacancyData.pursuit?.length > 0 || fullVacancyData.pprof?.ability > 0 || fullVacancyData.nginx?.openness" >Мы ценим:</h2>
        <ul>
          <li *ngIf="fullVacancyData.willingness?.length > 0">
            {{fullVacancyData.willingness}}
          </li>
          <li *ngIf="fullVacancyData.pursuit?.length > 0">
            {{fullVacancyData.pursuit}}
          </li>
          <li *ngIf="fullVacancyData.ability?.length > 0">
            {{fullVacancyData.ability}}
          </li>
          <li *ngIf="fullVacancyData.openness?.length > 0">
            {{fullVacancyData.openness}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>