<div class="admin__page">
  <app-menu-dashboard></app-menu-dashboard>
  <div class="admin__container">
    <div class="admin_navbar">
      <div class="navbar-item">
        <div></div>
        <h1>«Nets.tj»</h1>
        <img src="./assets/img/admin_page/logOut.svg" alt="" />
      </div>
    </div>
    <div class="admin__content">
      <div class="packages_content">
        <div class="packages_container">
            <div class="packages_block">
                <div class="packages_item">
                    <div class="packageManagement_block">
                        <h1>Управление пакетами</h1>
                        <div class="packageManagement_item">
                        <div class="circle_block">
                            <mat-progress-spinner class="circle1" strokeWidth="12" diameter="170" [value]="100"></mat-progress-spinner>
                            <mat-progress-spinner class="circle2" strokeWidth="12" diameter="170" [value]="packagesData.name * 10" *ngIf="packagesData.id == 1"></mat-progress-spinner>
                            <mat-progress-spinner class="circle2" strokeWidth="12" diameter="170" [value]="packagesData.name * 3.4" *ngIf="packagesData.id == 2"></mat-progress-spinner>
                            <mat-progress-spinner class="circle2" strokeWidth="12" diameter="170" [value]="packagesData.name * 2" *ngIf="packagesData.id == 3"></mat-progress-spinner>
                            <mat-progress-spinner class="circle2" strokeWidth="12" diameter="170" [value]="packagesData.name" *ngIf="packagesData.id == 4"></mat-progress-spinner>
                            <div class="number">
                              <h2>{{ packagesData.name }}GB</h2>
                            </div>
                        </div>
                        <div class="naming_block">
                            <div class="naming_item">
                                <h3>Название</h3>
                                <h2>+{{ packagesData.name }}GB</h2>
                            </div>
                                <div class="line"></div>
                             </div>
                            <div class="date_block">
                                <div class="date_item">
                                    <h3>Дата подключения</h3>
                                    <h2>{{ packagesData.date | date: 'dd.MM.yyyy' }}</h2>
                                </div>
                                    <div class="line"></div>   
                            </div>
                                <div class="price_block">
                                    <div class="price_item">
                                        <h3>Стоимость</h3>
                                        <h2>{{ packagesData.price }} сомони</h2>
                                    </div>
                                </div>
                                <div class="packages_btn">
                                    <button>Удалить пакет</button>
                                </div>
                       </div>
                       <h2 routerLink="/additionalPackage">+Подключить дополнительный пакет</h2>
                    </div>
                    <div class="banner_block">
                        <h1>Баннер</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    </div>
  </div>
</div> 
<app-footer></app-footer>


